body {
  background-color: #171717;
  color: #DFDFDF
}

a {
    color: #FF6688;
}

p {
    font-family: Geneva sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.italic {
    font-style: italic;
}

#main-title {
    font-size: 2.5rem;
    text-align: center;
}

#standing-list {
    color: #FFFF44
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 800px) {
    body {
        font-size: 1.2rem;
        margin: 5%;
    }
    #main-title {
        font-size: 2rem;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

@media (max-width: 1300px) {
    body {
        font-size: 1.2rem;
    }

}
